<%- include('header.ejs') %>

<main>
  <h2>목록보기<%=posts.length %></h2>
  <ul id="listCon">
    <%- posts.length === 0 ? `
    <li>리스트가 없어요</li>
    ` : posts.map(post => `
    <li data-postNum="${post._id}" class="list">
      <p class="title">할일 : ${post.title}</p>
      <div>
        <p>작성일 : ${post.dateOfCreate} / 목표일 : ${post.dateOfGoals}</p>
        <button class="detailBtn" data-postNum="${post._id}">
          세부사항보기
        </button>
        <button class="deleteBtn" data-postNum="${post._id}">삭제</button>
      </div>
    </li>
    `).join("") %>
  </ul>
</main>
<script>
  // console.log(posts);

  const listCon = document.getElementById("listCon");
  listCon.addEventListener("click", async (e) => {
    if (e.target.tagName !== "BUTTON") {
      return;
    }

    const listItem = e.target.closest(".list");
    if (!listItem) {
      return;
    }

    const postId = e.target.dataset.postnum;
    console.log(postId);

    if (e.target.classList.contains("deleteBtn")) {
      try {
        const res = await fetch(`/delete/${postId}`, {
          method: "DELETE",
        });
        const data = await res.json();
        console.log(data.succese);
        if (data.succese) {
          location.reload();
          // e.tartget.closest(".list").remove();
        } else {
          alert(data.message || "삭제실패");
        }
      } catch (e) {
        console.error(e);
      }
    } else if (e.target.classList.contains("detailBtn")) {
      location.href = `/detail/${postId}`;
    }
  });
</script>
<%- include('footer.ejs') %>
